db_dump_location: "/srv/www/dbdumps"
db_server_root_username: "root"
db_server_root_password: ""
db_server: "localhost"
env: "dev"
nginx_user: "www-data"
nginx_grp: "www-data"
tld: ""
www_dir: "public_html"
www_root: "/srv/www"
